<div class="image-container">
  <div class="bg-image" style="background-image: url('./images/download.jpeg');"></div>
  <div class="center-button"> <button type="button" class="btn btn-outline-success ">Log In / Register</button></div>
</div>

<div class="img">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

      <a class="navbar-brand d-flex align-items-center" href="#">
        <h1 class="mb-0 me-3">
          <span class="text-danger">Car</span>
          <span class="text-light-emphasis">Rental</span>
        </h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">About Us</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">Car List</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">Contact</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">Gallery</a></li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">
            <i class="bi bi-search-heart-fill"></i>
          </button>
        </form>
      </div>
    </div>
  </nav>
</div>


<app-body></app-body>


<ul class="nav1">
  <p class="text-light">
    <i class="bi bi-c-circle">Copyright Carrental Portal . All Rights Reserveved</i>
  </p>
</ul> 